@page "/categories"

@using System.Text.Json
@using FinanceManagerBlazorApp.ViewModels;
@using MudBlazor

@layout _Layout

@inject IHttpClientFactory ClientFactory

<h1 class="mb-4">Categories</h1>

<MudDataGrid T="Category" Items="@_categories" ReadOnly="false"  Hover="true" Breakpoint="Breakpoint.Sm"
    CommittedItemChanges="@CommittedItemChanges" EditMode="DataGridEditMode.Form" 
    LoadingProgressColor="Color.Info" EditTrigger="DataGridEditTrigger.OnRowClick">

    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Id" IsEditable="false" />
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Type" >
            <EditTemplate>
                <MudSelect @bind-Value="context.Item.Type" Required RequiredError="You must select a Type!!!" Margin="@Margin.Dense">
                     <MudSelectItem Value="1">Income</MudSelectItem>
                     <MudSelectItem Value="2">Expense</MudSelectItem>
                 </MudSelect>
             </EditTemplate>
        </PropertyColumn>
         <TemplateColumn Hidden="true" CellClass="d-flex justify-end">
             <CellTemplate>
                 <MudIconButton OnClick="@context.Actions.StartEditingItemAsync" />
             </CellTemplate>
         </TemplateColumn>
    </Columns>
</MudDataGrid>


@code {
    List<Category> _categories = new List<Category>();

    bool _drawerOpen = false;

    private List<string> _events = new();

    protected override async Task OnInitializedAsync() => await LoadData();

    async Task LoadData()
    {
        HttpClient httpClient = ClientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7016");
        _categories = await httpClient.GetFromJsonAsync<List<Category>>("/api/category") ?? _categories;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    async Task CommittedItemChanges(Category item)
    {
        HttpClient httpClient = ClientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7016");
        HttpResponseMessage response = await httpClient.PutAsJsonAsync("/api/category", item);
    }
}
